{{ 'component-announcement-bar.css' | asset_url | stylesheet_tag }}
<section class="announcement-bar">
  <div class="announcement-bar__container container">
    <h3>This is announcement bar</h3>
  </div>
</section>
