.featured-collection {}

.featured-collection__container {}

.featured-collection__title {

}

.featured-collection__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding-bottom: 1rem;
}

.featured-collection__item {
    border: 0.1rem solid rgba(var(--color-foreground), 0.5);
    transition: all 0.3s ease 0s;
}

.featured-collection__item:hover {
    box-shadow: 0.3rem 0.3rem 0.3rem rgba(var(--color-foreground), 0.2);
}